*{
  margin: 0px;
  padding: 0px;
  background-color: rgb(141, 130, 130);
}
#body{
  background-color: rgb(141, 130, 130);
  border: 10px solid rgb(137, 107, 107);
}
#top{
  background-color: aquamarine;
  height: 100px;
  width: 340px;
  padding: 10px;
  margin: 20px;
  position: relative;
}
p{
  margin-top: 30px;
  margin-left: 20px;
  font-family: cursive;
  font-weight: 700;
  background-color: aquamarine;
}
#about{
  height: 50px;
  background-color: beige;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-weight: 700;
  font-size: 3rem;
}

#main{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  background-color: beige;
  border: 2px solid black;
  height: 500px;
  width: 640px;
  position: relative;
  margin-top: 20px;
  left: 27%;
}

.number{
  border: 2px black solid;
  display: inline;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: blanchedalmond;
}
.number:hover{
  background-color: cadetblue;
  cursor: grab;
}



