*{
    margin: 0px;
    padding: 0px;
}

#main{
    background-color: rgb(183, 219, 219);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text {
  
    font-size: 5rem;
    color: #333;
    transition: color 0.3s ease;
}
